<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>UNEE 后台管理</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, shrink-to-fit=no"
    />
    <!-- <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"> -->
    <!-- <link rel="icon" href="%PUBLIC_URL%/app-128.png" type="image/x-icon"> -->
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json"> -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your
        experience.
      </p>
    <![endif]-->
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>

    <script src="./lib/react/react.development.js"></script>
    <script src="./lib/react-dom/react-dom.development.js"></script>
  </body>
</html>
